/* Universal Selector Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Ensures that padding and border are included in the element's total width and height */
}

/* Set a consistent font and line-height */
html {
  font-family: sans-serif;
  line-height: 1.15;
  /* Improves text readability */
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape */
}

/* Remove default margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set a consistent base size */
body {
  font-size: 100%;
  font-weight: 400;
  background: #f4fafb;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove default text decoration and color from links */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset table styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset form element styles */
button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

/* Ensure images are responsive */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

/* Remove default blockquote styles */
blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
}

/* Ensure all interactive elements have basic focus styling */
a,
button,
input,
textarea,
select {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

/* Prevent anchor dragging */
a {
  -webkit-user-drag: none;
}

/* header style */

.desktopHeader {
  display: flex;
  padding: 1.5rem 6.25rem;
  justify-content: space-between;
  align-items: center;
}

.logo i {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navBarTab {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.5rem 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 0rem 2rem 2rem 0;
  background: var(--Schemes-On-Primary, #fff);
  gap: 40px;
  /* Inner shadow */
  box-shadow: -1px -1px 2px 0px #fff inset,
    1px 1px 2px 0px rgba(0, 105, 111, 0.5) inset;
}

.navBarTab ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mobileHeader {
  display: none;
  height: 100vh;
  justify-items: flex-start;
  align-items: flex-start;
  position: fixed;
  /* Keeps the sidebar fixed as you scroll */
  top: 0;
  left: 0;
  z-index: 100000000;
}

.desktopHeader img {
  width: 70px;
  gap: 40px;
}

.navBar ul {
  display: inline-flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background: var(--Schemes-On-Primary, #fff);
  gap: 4px;

  /* Inner shadow */
  box-shadow: -1px -1px 2px 0px #fff inset,
    1px 1px 2px 0px rgba(0, 105, 111, 0.5) inset;
}

.pressedNav {
  display: flex;
  width: 8.5625rem;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 2rem;
  background: var(--Schemes-Primary, #00696f);
  color: var(--Schemes-On-Primary, #fff);
  /* material-theme/label/large */
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  /* 142.857% */
  letter-spacing: 0.00625rem;
}

.pressedNavTab {
  display: flex;
  width: 8.5625rem;
  padding: 0.625rem;
  justify-content: fl;
  align-items: center;
  gap: 0.625rem;
  border-radius: 2rem;
  background: var(--Schemes-Primary, #00696f);
  color: var(--Schemes-On-Primary, #fff);
  /* material-theme/label/large */
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  /* 142.857% */
  letter-spacing: 0.00625rem;
}

.defaultNav {
  color: var(--Schemes-On-Primary-Container, #002022);

  /* material-theme/label/large */
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  /* 142.857% */
  letter-spacing: 0.00625rem;

  display: flex;
  width: 8.5625rem;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 2rem;
  background: var(--Schemes-On-Primary, #fff);
}

.defaultNavTab {
  color: var(--Schemes-On-Primary-Container, #002022);
  /* margin-top: 4px;
margin-bottom: 4px; */
  /* material-theme/label/large */
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  /* 142.857% */
  letter-spacing: 0.00625rem;

  display: flex;
  width: 8.5625rem;
  padding: 0.625rem;
  justify-content: flex-start;
  align-items: center;
  gap: 0.625rem;
  border-radius: 2rem;
  background: var(--Schemes-On-Primary, #fff);
}

.defaultNavTab:hover {
  background-color: #f4fafb;
}

.defaultNav:hover {
  background-color: #f4fafb;
}

.calBTN {
  color: var(--Schemes-Primary, #00696f);

  /* material-theme/label/large */
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  /* 142.857% */
  letter-spacing: 0.00625rem;

  display: flex;
  width: 8.5625rem;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  height: fit-content;

  border-radius: 2rem;
  background: var(--Schemes-On-Primary, #fff);

  /* pressed */
  box-shadow: -1px -1px 2px 0px #fff, 1px 1px 2px 0px rgba(0, 105, 111, 0.5);
}

.calBTN:hover {
  background: var(--Schemes-On-Primary, #fff);

  /* Button shadow 1 */
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
    5px 5px 10px 0px rgba(0, 105, 111, 0.1),
    10px 10px 20px 0px rgba(0, 105, 111, 0.1),
    -10px -10px 20px 0px rgba(255, 255, 255, 0.5);
}

.logo img {
  width: 150px;
}

@media (max-width: 1120px) {
  .desktopHeader {
    padding: 0.75rem 3rem;
  }

  .navBar {
    display: none;
  }

  .desktopHeader i {
    display: block;
  }

  .mobileHeader {
    display: block;
  }

  .logo img {
    width: 100px;
  }

  .mobileHeader {
    display: none;
  }
}

@media (max-width: 480px) {
  .desktopHeader {
    padding: 0.75rem 1rem;
  }
}

/* weather section style */
.weathersectionwraper {
  display: flex;
  align-content: center;
  justify-content: center;
}

.weatherCon {
  padding: auto;
  width: 100%;
  padding: 1rem 0rem;
  /* gap: 20px; */
  /* align-items: flex-end; */
  background: var(--Schemes-Tertiary-Fixed-Dim, #b7c7ea);
  position: relative;
  height: 50px;
  overflow: hidden;
}

@keyframes scrollright {
  to {
    right: -200px;
  }
}

.weatherBox {
  /* display: inline-flex;
flex-direction: column;
align-items: center; */
  position: absolute;
  right: 100%;
  animation-name: scrollright;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: 500px;
  bottom: 7px;
}

.degree {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  align-self: stretch;
  color: #374764;
}

.degree P {
  color: var(--Schemes-On-Tertiary-Fixed-Variant, #374764);

  /* material-theme/label/large */
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  /* 142.857% */
  letter-spacing: 0.00625rem;
}

.city P {
  color: var(--Schemes-On-Tertiary-Fixed-Variant, #374764);
  text-align: center;

  /* material-theme/label/small */
  font-family: Montserrat;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
  /* 145.455% */
  letter-spacing: 0.03125rem;
}

.city1 {
  animation-delay: calc(30s / 10 * (10 - 1) * - 1);
}

.city2 {
  animation-delay: calc(30s / 10 * (10 - 2) * -1);
}

.city3 {
  animation-delay: calc(30s / 10 * (10 - 3) * -1);
}

.city4 {
  animation-delay: calc(30s / 10 * (10 - 4) * -1);
}

.city5 {
  animation-delay: calc(30s / 10 * (10 - 5) * -1);
}

.city6 {
  animation-delay: calc(30s / 10 * (10 - 6) * -1);
}

.city7 {
  animation-delay: calc(30s / 10 * (10 - 7) * -1);
}

.city8 {
  animation-delay: calc(30s / 10 * (10 - 8) * -1);
}

.city9 {
  animation-delay: calc(30s / 10 * (10 - 9) * -1);
}

.city10 {
  animation-delay: calc(30s / 10 * (10 - 10) * -1);
}

@media (max-width: 1120px) {
  .weatherBox {
    right: 200%;
  }
}

/* 
calculator style */

.secBTN {
  display: flex;
  width: 3.125rem;
  height: 3.125rem;
  padding: 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 62.5rem;
  background: var(--Schemes-Primary-Container, #9df0f8);

  /* Button shadow 1 */
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
    5px 5px 10px 0px rgba(0, 105, 111, 0.1),
    10px 10px 20px 0px rgba(0, 105, 111, 0.1),
    -10px -10px 20px 0px rgba(255, 255, 255, 0.5);
  color: #000;
  text-align: center;

  /* material-theme/body/large */
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  /* 150% */
  letter-spacing: 0.03125rem;
}

.mainBTN {
  display: flex;
  width: 3.125rem;
  height: 3.125rem;
  padding: 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 62.5rem;
  background: var(--Schemes-Primary-Container, #00696f);

  /* Button shadow 1 */
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
    5px 5px 10px 0px rgba(0, 105, 111, 0.1),
    10px 10px 20px 0px rgba(0, 105, 111, 0.1),
    -10px -10px 20px 0px rgba(255, 255, 255, 0.5);
  color: #fff;
  text-align: center;

  /* material-theme/body/large */
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  /* 150% */
  letter-spacing: 0.03125rem;
  color: #fff;
}

.equal {
  width: 114px;
}

.priBTN {
  display: flex;
  width: 3.125rem;
  height: 3.125rem;
  padding: 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 62.5rem;
  background: var(--Schemes-On-Primary, #fff);

  /* Button shadow 1 */
  box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5),
    5px 5px 10px 0px rgba(0, 105, 111, 0.1),
    10px 10px 20px 0px rgba(0, 105, 111, 0.1),
    -10px -10px 20px 0px rgba(255, 255, 255, 0.5);

  color: #000;
  text-align: center;

  /* material-theme/body/large */
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  /* 150% */
  letter-spacing: 0.03125rem;
}

.role1 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
}

.buttonsection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

.calInput {
  width: 14.375rem;
  height: 3.5625rem;
  border-radius: 12.5rem;
  background: #fff;

  /* Inner shadow */
  box-shadow: -1px -1px 2px 0px #fff inset,
    1px 1px 2px 0px rgba(0, 105, 111, 0.5) inset;
}

.calculator {
  display: inline-flex;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 1rem;
  background: #fff;

  /* hover shadow */
  position: absolute;
  top: 50%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  transform: translate(-50%, -50%);
  /* Adjust positioning for perfect centering */
  color: white;
  text-align: center;
}

.calculatorSection {
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* Fixed position for full-screen overlay */
  top: 0;
  left: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black background with 50% opacity */
  z-index: 99999999999999999999999999999999999;
  /* Make sure it is above other elements */
  position: absolute;
}

.calculator i {
  color: #000;
}

.calculator form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mainBTN i {
  color: #fff;
}

.calInput {
  color: #000;
  padding: 1rem;
  text-align: end;
}

/* hero section style */


.hero{
  display: flex;
  width: 100%;
  align-items: center;
  align-content: center;
  gap: 1.25rem;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.topstoryCon{
  width: 100%;
height: 400px;
border-radius: 1rem;
position: relative;
}

.topstoryCon img{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
@media (max-width: 1120px) {
  .hero{
   flex-direction: column;
  }
 }

.topStory{
  position: absolute;
  display: flex;
width: 22.6875rem;
padding: 1rem;
flex-direction: column;
align-items: flex-start;
gap: 0.75rem;
border-radius: 1rem 1rem 0rem 1rem;
background: rgba(244, 250, 251, 0.70);
bottom: 0px;
/* Inner shadow */
box-shadow: -1px -1px 2px 0px #FFF inset, 1px 1px 2px 0px rgba(0, 105, 111, 0.50) inset;
}
.topstoryheader{
  color: #000;

/* material-theme/headline/large */
font-family: "Montserrat Alternates", sans-serif;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: 2.5rem; /* 125% */
align-self: stretch;
}

.topstoryPara{
  color: #000;

/* material-theme/body/large */
font-family: Montserrat;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem; /* 150% */
letter-spacing: 0.03125rem;
align-self: stretch;
}
.topStoryBTN{
  display: flex;
padding: 0.8rem;
justify-content: center;
align-items: center;
gap: 0.375rem;
border-radius: 2rem;
background: var(--Schemes-On-Primary, #FFF);

/* pressed */
box-shadow: -1px -1px 2px 0px #FFF, 1px 1px 2px 0px rgba(0, 105, 111, 0.50);
color: var(--Schemes-Primary, #00696F);

/* material-theme/label/large */
font-family: Montserrat;
font-size: 0.875rem;
font-style: normal;
font-weight: 500;
line-height: 1.25rem; /* 142.857% */
letter-spacing: 0.00625rem;
}
.moneyQuote{
  display: flex;
width: 15.9375rem;
height: 100%;
padding: 1rem;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1rem;
flex-shrink: 0;
border-radius: 1rem;
background: #FFF;

/* pressed */
box-shadow: -1px -1px 2px 0px #FFF, 1px 1px 2px 0px rgba(0, 105, 111, 0.50);
}


.moneyQuote h1{
  align-self: stretch;
  color: #000;

/* material-theme/headline/small */
font-family: "Montserrat Alternates";
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: 2rem; /* 133.333% */
}

.moneyQuote p{
  display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 5;
align-self: stretch;
overflow: hidden;
color: #000;
text-overflow: ellipsis;

/* material-theme/body/medium */
font-family: Montserrat;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.25rem; /* 142.857% */
letter-spacing: 0.01563rem;
}


.heroSection{
  display: flex;
  justify-content: center;
  margin: 16px 100px ;
}
.moneyQuote .p{
  display: flex;
 flex-direction: column;
 gap: 16px;
}
@media  (max-width: 1120px) {
  .moneyQuote{
    height: fit-content;
    width: fit-content;
    display: none;

 
/* Enables horizontal scrolling */
      
  }
  .moneyQuote .p{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 20px;
    
  }
 .p p{
  min-width: 00px;
 }
  .heroSection{
    margin: 16px 32px;
  }
 }


 /* blog section */

 .blogBox{
  min-width: 280px;
  height: 200px;
  max-width: 350px;
  display: flex;
  
/* width: 20.5rem; */
padding: 1rem;
flex-direction: column;
justify-content: end;
gap: 0.5rem;
border-radius: 1rem;
background: #FFF;

/* Inner shadow */box-shadow: -1px -1px 2px 0px #FFF, 1px 1px 2px 0px rgba(0, 105, 111, 0.50);
 }

 .content{
  color: #000;

/* material-theme/body/large */
font-family: Montserrat;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem; /* 150% */
letter-spacing: 0.03125rem;
 }

 .blogBox div{
  display: flex;
align-items: center;
gap: 0.5rem;
align-self: stretch;
 }

 .label{
  color: #000;

/* material-theme/body/small */
font-family: Montserrat;
font-size: 0.75rem;
font-style: normal;
font-weight: 400;
line-height: 1rem; /* 133.333% */
letter-spacing: 0.025rem;
 }

 .time , .author{
  color: #000;

  /* material-theme/body/medium */
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: 0.01563rem;
 }

 .blogRead{
  display: flex;
padding: 0.5rem;
justify-content: center;
align-items: center;
gap: 0.375rem;
align-self: stretch;
border-radius: 2rem;
background: var(--Schemes-On-Primary, #FFF);

/* pressed */
box-shadow: -1px -1px 2px 0px #FFF, 1px 1px 2px 0px rgba(0, 105, 111, 0.50);
color: var(--Schemes-Primary, #00696F);

/* material-theme/label/large */
font-family: Montserrat;
font-size: 0.875rem;
font-style: normal;
font-weight: 500;
line-height: 1.25rem; /* 142.857% */
letter-spacing: 0.00625rem;
 }

 .blogSection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 1.5em 100px;
 }
 
 @media (max-width : 480px) {
.blogBox{
  width: 100%;
}
.blogSection{
  margin: 1.5rem 2rem;
}

.topStory{
  width: 100%;
}
 }


 /* WEATHER PAGE STYLE */

.mainWeather{
  
  margin: 1.5rem auto;
  display: flex;
width: 288px;
flex-direction: column;
align-items: flex-start;
gap: 2.5625rem;
}


.weatherInputSection{
  display: flex;
flex-direction: column;
align-items: center;
gap: 2rem;
align-self: stretch;
}
.weatherInputSection h1{
  color: #000;
text-align: center;

/* material-theme/headline/large */
font-family: "Montserrat Alternates";
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: 2.5rem; /* 125% */
}

.weatherInputSection  form{
  display: flex;
padding: 1rem;
flex-direction: column;
align-items: flex-start;
gap: 1rem;
align-self: stretch;
border-radius: 1rem;
background: #FFF;

/* hover shadow */
box-shadow: -5px -5px 10px 0px #FFF, 5px 5px 10px 0px rgba(74, 99, 101, 0.20);
}


.weatherInputSection input{
  padding: 16px;
  height: 3.5625rem;
align-self: stretch;
border-radius: 12.5rem;
background: #FFF;

/* Inner shadow */
box-shadow: -1px -1px 2px 0px #FFF inset, 1px 1px 2px 0px rgba(0, 105, 111, 0.50) inset;
}

 
.weatherInputSection button{
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  align-self: stretch;
  border-radius: 2rem;
  background: var(--Schemes-Primary, #00696F);
  color: #FFF;

/* pressed */
box-shadow: -1px -1px 2px 0px #FFF, 1px 1px 2px 0px rgba(0, 105, 111, 0.50);
}

.weatherResultCon{
width: 288px;
  display: flex;
  gap: 16px;
flex-direction: column;
align-items: flex-start;
align-self: stretch;
}
.resultBox{
  border-radius: 16px;
  background-color: #00696F;
  display: flex;
padding: 0rem 1rem 1rem 1rem;
flex-direction: column;
align-items: center;
align-self: stretch;
position: relative;
}
.resultBox svg {
  display: block; /* Ensure it is displayed as a block-level element */
  width: 100%;    /* Adjust the width to fit the container */
  height: auto;   /* Maintain aspect ratio */
  position: absolute;
}

.weatherDegree{
  display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
z-index: 9999999;
}
.weatherDegree img{
  width: 100px;
flex-shrink: 0;
}
.weatherDegree h1{
  color: var(--Schemes-On-Primary, #FFF);

/* material-theme/display/small */
font-family: "Montserrat Alternates";
font-size: 2.25rem;
font-style: normal;
font-weight: 400;
line-height: 2.75rem; /* 122.222% */
}

.moreWeatherInfo{
  display: flex;
justify-content: space-between;
align-items: flex-end;
align-self: stretch;
}

.moreWeatherInfo{
  z-index: 9999;
  display: flex;
justify-content: space-between;
align-items: flex-end;
align-self: stretch;
}
.moreWeatherInfo p{
  color: var(--Schemes-On-Primary, #FFF);

  /* material-theme/body/small */
  font-family: Montserrat;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 133.333% */
  letter-spacing: 0.025rem;
}
.moreWeatherInfo h1{
  color: var(--Schemes-On-Primary, #FFF);

/* material-theme/headline/small */
font-family: "Montserrat Alternates";
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: 2rem; /* 133.333% */
}


/* todo style */
.todomain{
  margin: 32px auto;
  display: flex;
width: 18rem;
flex-direction: column;
align-items: flex-start;
gap: 2rem;
}

.todoinputContain{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.opentodoform{
  display: flex;
padding: 1rem;
justify-content: space-between;
align-items: center;
align-self: stretch;
border-radius: 1rem;
background: var(--Schemes-Primary, #00696F);
width: 288px;
color: #FFF;

/* material-theme/headline/small */
font-family: "Montserrat Alternates";
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 2rem; /* 133.333% */
}

#todoForm{
  display: none;
padding: 1rem;
flex-direction: column;
align-items: flex-start;
gap: 1rem;
align-self: stretch;
border-radius: 0rem 0rem 1rem 1rem;
background: #FFF;

/* hover shadow */
box-shadow: -5px -5px 10px 0px #FFF, 5px 5px 10px 0px rgba(74, 99, 101, 0.20);
}

#todoForm div{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 0.5rem;
align-self: stretch;
}
#todoForm label{
  color: #4E4E4E;

  /* Body Medium/Regular */
  font-family: "Montserrat Alternates";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: -0.04375rem;
}

#todoForm select{
  border-radius: 0.5rem;
border: 0px solid var(--Color-Grey-Grey-200, #DDD);
background: #F7F7F7;
box-shadow: -3px -4px 4px 0px rgba(0, 0, 0, 0.03) inset, 3px 4px 4px 0px rgba(0, 0, 0, 0.03) inset;
display: flex;
padding: 0.5rem;
justify-content: space-between;
align-items: center;
align-self: stretch;
color: var(--M3-ref-neutral-variant-neutral-variant60, #939091);

/* Label Medium/Label Large/Regular */
font-family: "Montserrat Alternates";
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.25rem; /* 142.857% */
letter-spacing: -0.04375rem;
}

.inputTask{
  border-radius: 12.5rem;
background: #FFF;

/* Inner shadow */
box-shadow: -1px -1px 2px 0px #FFF inset, 1px 1px 2px 0px rgba(0, 105, 111, 0.50) inset;
height: 3.5625rem;
align-self: stretch;
padding: 1rem;
}

#taskDate, #taskTime{
  box-shadow: -3px -4px 4px 0px rgba(0, 0, 0, 0.03) inset, 3px 4px 4px 0px rgba(0, 0, 0, 0.03) inset;
  display: flex;
padding: 0.25rem 0rem 0.25rem 1rem;
align-items: flex-start;
flex: 1 0 0;
align-self: stretch;
border-radius: 0.25rem 0.25rem 0rem 0rem;
color: var(--M3-ref-neutral-variant-neutral-variant70, #AEAAAB);

font-family: "Montserrat Alternates";
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 1.5rem; /* 150% */
letter-spacing: -0.05rem;
} 

.dateTime{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.taskButton{
  display: flex;
padding: 0.5rem;
justify-content: center;
align-items: center;
gap: 0.375rem;
align-self: stretch;
border-radius: 2rem;
background: var(--Schemes-On-Primary, #FFF);
width: 100%;
/* pressed */
box-shadow: -1px -1px 2px 0px #FFF, 1px 1px 2px 0px rgba(0, 105, 111, 0.50);

/* material-theme/label/large */
font-family: Montserrat;
font-size: 0.875rem;
font-style: normal;
font-weight: 500;
line-height: 1.25rem; /* 142.857% */
letter-spacing: 0.00625rem;
background: linear-gradient(180deg, #B7C7EA 0%, #00696F 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
height: 46px;
}

.todoerror{
  font-family: Montserrat;
font-size: 0.675rem;
color: #ff0000;
display: none;
}

 .todoBoxHighP{
  display: flex;
width: 18rem;
padding: 1rem;
flex-direction: column;
align-items: flex-start;
gap: 0.5rem;
border-radius: 1rem;
background: var(--Schemes-Error, #374764);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 }

 .todoHeader H1{
  color: #FFF;

/* material-theme/body/large */
font-family: Montserrat;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem; /* 150% */
letter-spacing: 0.03125rem;
 }

 .todoMid{
  display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
 }

 .todoMid div{
  display: flex;
align-items: center;
gap: 0.3125rem;
 }

 .todoMid P{
  color: #FFF;

/* material-theme/label/small */
font-family: Montserrat;
font-size: 0.6875rem;
font-style: normal;
font-weight: 500;
line-height: 1rem; /* 145.455% */
letter-spacing: 0.03125rem;
 }

 .highlighted{
  display: flex;

height: 1.4375rem;
padding: 0.25rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
border-radius: 0.25rem;
background: var(--Schemes-On-Tertiary-Container, #0A1B36);
 }

 .todobottom{
  display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
 }

 .todobottom div{
  color: #fff;
  display: flex;
align-items: center;
gap: 0.25rem;
 }
 .todolistCon{
  display:  flex;
  flex-direction: column;
  gap: 16px;
 }

 /* Strike-through style for completed tasks */
.todoHeader h1.done {
  text-decoration: line-through;
}

/* Optional: Style for edit and delete icons */
.editDel i {
  cursor: pointer;
  margin-left: 10px;
  font-size: 1rem;
}

.editDel i:hover {
  color: #007BFF;
}
/* Ensure the form is initially hidden */
#todoForm {
  display: none; /* or flex, depending on your initial state */
}

/* Budgeting Style */

.budgetmain{
 display: flex;
 justify-content: center;
position: relative;
}



 .openAddBudget, .openAddExpenses{
  margin-top: 16px;
  display: flex;
padding: 0.5rem;
justify-content: center;
align-items: center;
gap: 0.375rem;
align-self: stretch;
border-radius: 1rem;
background: var(--Schemes-Primary, #00696F);

/* pressed */
box-shadow: -1px -1px 2px 0px #FFF, 1px 1px 2px 0px rgba(0, 105, 111, 0.50);

/* material-theme/label/large */
font-family: Montserrat;
font-size: 0.875rem;
font-style: normal;
font-weight: 500;
line-height: 1.25rem; /* 142.857% */
letter-spacing: 0.00625rem;
color: #fff;
width: 288px;
 }

 .addBudgetAddExpenses{
  display: flex;
 flex-direction: column;
gap:8px; 
}

.addBudgetOverlay{
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.7;
  display: none;
  justify-content: center;
padding-top:10rem ;
position: fixed;
z-index: 99999;

}

.addBudget input{
  border-radius: 12.5rem;
  background: #FFF;
  
  /* Inner shadow */
  box-shadow: -1px -1px 2px 0px #FFF inset, 1px 1px 2px 0px rgba(0, 105, 111, 0.50) inset;
flex: 1 0 0;
width: 288px;
height: 56px;
padding: 16px;
}

.addBudget label{
  color: #000;

/* Body Medium/Regular */
font-family: Montserrat;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.25rem; /* 142.857% */
letter-spacing: -0.04375rem;
}

.addBudget button{
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  align-self: stretch;
  border-radius: 2rem;
background: var(--Schemes-On-Primary, #FFF);

/* pressed */
box-shadow: -1px -1px 2px 0px #FFF, 1px 1px 2px 0px rgba(0, 105, 111, 0.50);
width: 288px;
height: 40px;

/* material-theme/label/large */
font-family: Montserrat;
font-size: 0.875rem;
font-style: normal;
font-weight: 500;
line-height: 1.25rem; /* 142.857% */
letter-spacing: 0.00625rem;
color: #000;
}
.budgetField{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.addBudget{

  display: flex;
padding: 1rem;
flex-direction: column;
align-items: flex-start;
gap: 1rem;
align-self: stretch;
border-radius:1rem;
background: #FFF;
width: fit-content;
height: fit-content;
}

.addExpenesOverlay{
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.7;
  display: none;
  justify-content: center;
padding-top:10rem ;
position: fixed;
z-index: 99999;
}

.addExpenses{
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
  border-radius:1rem;
  background: #FFF;
  width: fit-content;
  height: fit-content;
}

.addExpenses input{
  border-radius: 12.5rem;
  background: #FFF;
  
  /* Inner shadow */
  box-shadow: -1px -1px 2px 0px #FFF inset, 1px 1px 2px 0px rgba(0, 105, 111, 0.50) inset;
flex: 1 0 0;
width: 288px;
height: 56px;
padding: 16px;
}

.addExpenses label{
  color: #000;

/* Body Medium/Regular */
font-family: Montserrat;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.25rem; /* 142.857% */
letter-spacing: -0.04375rem;
}

.expensesField{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
 .addExpenses button{
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  align-self: stretch;
  border-radius: 2rem;
background: var(--Schemes-On-Primary, #FFF);

/* pressed */
box-shadow: -1px -1px 2px 0px #FFF, 1px 1px 2px 0px rgba(0, 105, 111, 0.50);
width: 288px;
height: 40px;

/* material-theme/label/large */
font-family: Montserrat;
font-size: 0.875rem;
font-style: normal;
font-weight: 500;
line-height: 1.25rem; /* 142.857% */
letter-spacing: 0.00625rem;
color: #000;
 }